.flex-container{
    display: flex;
    //flex-flow: row wrap;  --just the same with below code
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around; //to even distribute the spaces
}

@media all and (max-width: 800px){
    .flex-container{
        justify-content: flex-start;
    }
}

.flex-item{
    width: 200px;
    height: 150px;
    margin-top: 5px;

    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    line-height: 150px;
}