<mat-drawer-container class="example-container">
  <mat-drawer-content class="mh-hide-overflow">
    <img class="mh-login-image" src="assets/Image/IMG_3664.JPG" alt="Showroom">
  </mat-drawer-content>
  <mat-drawer mode="side" opened position="end">
      <form>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="">
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-hint>validation</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="" type="password">
          <mat-icon matSuffix> vpn_key</mat-icon>
          <mat-hint>validation</mat-hint>
        </mat-form-field>
      </p>
      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary">Login</button>
          <button mat-raised-button color="accent">Sign In</button>
        </div>
      </section>      
      </form> 
  </mat-drawer>  
</mat-drawer-container>