.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .mhplatform-button-row button {
    margin-right: 8px;
  }

  .mh-input-wrapper{
    width:400px !important;
  }
  .mh-input-wrapper2{
    width:815px !important;
  }
