<h3>Installation</h3>

<mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
    <mat-tab label="{{title.forSchedule}}">
        <app-for-schedule *ngIf="htmlRef == 0"></app-for-schedule>
    </mat-tab>
    <mat-tab label="{{title.scheduled}}">
        <mat-card class="mh-installation-card">
            <app-scheduled *ngIf="htmlRef == 1"></app-scheduled>
        </mat-card>
    </mat-tab>
    <mat-tab label="{{title.onGoing}}">
        <mat-card class="mh-installation-card">
            <app-on-going *ngIf="htmlRef == 2"></app-on-going>
        </mat-card>
    </mat-tab>
    <mat-tab label="{{title.forCancellation}}">
        <mat-card class="mh-installation-card">
        </mat-card>
        <app-content-loader *ngIf="loading"></app-content-loader>
        <exception-message *ngIf="!loading"></exception-message>
    </mat-tab>    
</mat-tab-group>