.mh-production-card{
    width: 100%; 
}

.mh-production-card-content{
    width: 100%; 
}

.mh-production-ag-grid-container{
    width: 100%; 
}

app-content-loader {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}