<mat-card>
    <mat-card-content><h1>Hello {{username}}!</h1></mat-card-content>
</mat-card>

<!-- <div fxLayout="row" fxLayoutAlign="space-around center" > -->
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
    <mat-card class="example-card asd" routerLink="installation">
        <mat-card-header>
          <div mat-card-avatar class="installation-header-image"></div>
          <mat-card-title>Installation</mat-card-title>
          <mat-card-subtitle>Monitoring & Scheduling</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image class="fit-image" src="/assets/bg-image/low_poly_network_communications_background_1702.jpg" alt="techno">
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card asd" routerLink="installation">
      <mat-card-header>
        <div mat-card-avatar class="production-header-image"></div>
        <mat-card-title>Production</mat-card-title>
        <mat-card-subtitle>Monitoring & Scheduling</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <img mat-card-image class="fit-image" src="/assets/bg-image/factory-workshop-interior-machines-glass-production-background.jpg" alt="techno">
      </mat-card-content>
    </mat-card>    
    
    <mat-card class="example-card asd" routerLink="installation">
      <mat-card-header>
        <div mat-card-avatar class="inventory-header-image"></div>
        <mat-card-title>Inventory</mat-card-title>
        <mat-card-subtitle>Monitoring</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <img mat-card-image class="fit-image" src="/assets/bg-image/inventory.jpg" alt="techno">
      </mat-card-content>
    </mat-card> 

    <mat-card class="example-card asd" routerLink="installation">
      <mat-card-header>
        <div mat-card-avatar class="employee-header-image"></div>
        <mat-card-title>Employee Mgt.</mat-card-title>
        <mat-card-subtitle>Records keeping</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <img mat-card-image class="fit-image" src="/assets/bg-image/employeemgt.jpg" alt="techno">
      </mat-card-content>
    </mat-card>      
</div>
